httpx
python-dotenv
PySide6==6.6.2
PySide6-Addons==6.6.2
websockets
deepgram-sdk
azure-cognitiveservices-speech
requests
google-auth-oauthlib>=1.0.0
google-auth-httplib2>=0.1.0
google-api-python-client>=2.0.0
fastapi
openai
aiohttp
Pillow
pytz
timezonefinder
uvicorn
